<ion-view title="Опрос" id="page2">
  <ion-content padding="true" class="has-header" style="margin-bottom:64px;padding-bottom:64px;">
    <a id="poll-button2" class="button button-positive button-block icon-right ion-ios-arrow-forward">Авторизация через ГосУслуги</a>
    <ion-list id="poll-list2" ng-repeat="question in questions" class="wrapping-list">
      <span class="item"  text-wrap>
        <span class="" ng-bind="question['Вопрос']" style="width:100%">Текст вопроса</span>
        <div ng-if="question.buttons" class="button-bar" >
            <button ng-repeat="button in question.buttons"
                    ng-class="{'button-outline': !button.selected}"
                    class="button button-dark"
                    ng-click="choose(button, question, button.value)"
                    ng-bind="button.title">Кнопка</button>
        </div>
        <div ng-if="question['Тип']=='float'" class="button-bar" >
            <input type="number" ng-model="question.value" placeholder="" >
          <button class="button button-dark"
                  ng-class="{'button-outline': !question.answered}"
                  ng-click="setFloat(button, question)"
                  >Ввести</button>
        </div>

      </span>
      <!--<label class="item item-select" id="poll-select1">-->
        <!--<span class="input-label">Ваш пол</span>-->
        <!--<select>-->
          <!--<option>Мужской</option>-->
          <!--<option>Женский</option>-->
        <!--</select>-->
      <!--</label>-->
      <!--<label class="item item-input item-stacked-label" id="poll-input3">-->
        <!--<span class="input-label">Дата вашего рождения</span>-->
        <!--<input type="date" placeholder="">-->
      <!--</label>-->
      <!--<ion-toggle toggle-class="toggle-positive" id="poll-toggle1">Вы инвалид?</ion-toggle>-->
      <!--<label class="item item-input" id="poll-input2">-->
        <!--<span class="input-label">Сколько у вас детей?</span>-->
        <!--<input type="number" placeholder="1">-->
      <!--</label>-->
    </ion-list>
    <a ng-show="showPrivsBtn" ui-sref="report()" id="poll-button5" class="button button-positive button-block icon-right ion-ios-arrow-forward">Показать мои льготы</a>
  </ion-content>
</ion-view>
