<ion-view title="Льгота" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="privilege-list4">
      <ion-item class="item-icon-left" id="privilege-list-item13">
        <i class="icon ion-android-home"></i>20 000
        <span class="item-note">Льгота на ЖКХ</span>
      </ion-item>
      <ion-item class="item-divider" id="privilege-list-item-divider5"> Куда обращаться?</ion-item>
      <ion-item class="item-icon-left" id="privilege-list-item17">
        <i class="icon ion-ios-home-outline"></i>Пенсионный фонд</ion-item>
      <ion-item class="item-icon-left" id="privilege-list-item19">
        <i class="icon ion-ios-telephone-outline"></i>8(3912) 555-58-85</ion-item>
      <ion-item class="item-icon-left" id="privilege-list-item20">
        <i class="icon ion-ios-location-outline"></i>ул. Ленина 54</ion-item>
      <ion-item class="item-divider" id="privilege-list-item-divider4"> Требуемые документы</ion-item>
      <ion-item class="item-icon-left" id="privilege-list-item15">
        <i class="icon ion-ios-person"></i>Паспорт</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="privilege-list-item16" ui-sref="print()">
        <i class="icon ion-document-text"></i>Заявление по форме 3
        <i class="icon ion-android-print"></i>
      </ion-item>
      <ion-item class="item-icon-left" id="privilege-list-item18">
        <i class="icon ion-android-document"></i>Справка из ПФР</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
