<ion-view title="Результат" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list >
      <ion-item class="item-divider" id="report-list-item-divider2"> Положенные вам льготы:</ion-item>
    </ion-list>

    <ion-list ng-repeat="priv in privs" class="wrapping-list">

      <ion-item ng-if="priv['Сумма']" class="item-icon-left item-icon-right" id="report-list-item10" ui-sref="privilege()">
        <i class="icon ion-ribbon-b"></i><span style="display: inline-block;" ng-bind="priv['Название']"></span>
        <span class="item-note" ng-bind="priv['Сумма']">10000</span>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <!--<ion-item class="item-icon-left item-icon-right" id="report-list-item11">-->
        <!--<i class="icon ion-android-happy"></i>5 000-->
        <!--<span class="item-note">Льгота на ребенка</span>-->
        <!--<i class="icon ion-chevron-right"></i>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-divider" id="report-list-item-divider1"> Итого:</ion-item>-->
      <!--<ion-item class="item-icon-left" id="report-list-item12">-->
        <!--<i class="icon ion-android-happy"></i>25 000-->
        <!--<span class="item-note">Возможные льготы</span>-->
      <!--</ion-item>-->

  </ion-content>
</ion-view>
