<ion-view title="Начало" id="page8">
  <ion-content padding="true" class="has-header">
    <center>
      <!--<i class="icon ion-card positive center" style="font-size:128px"></i>-->
      <img src="img/icon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </center>
    <h3 id="start-heading1" style="color:#000000;" class="center">Узнайте о своих льготах!</h3>
    <div id="start-markdown1" class="show-list-numbers-and-dots justify">
      <p style="color:#000000;">По закону, многие граждане нашей страны имеют льготы, о которых они не знают.</p>

      <p style="color:#000000;">Ответьте на вопросы о составе вашей семьи, доходах и другие, и узнайте, на какие льготы вы можете претендовать и как их получить</p>
    </div>
    <a ui-sref="poll()" id="start-button4" class="button button-positive button-block icon-right ion-chevron-right">Заполнить анкету</a>
  </ion-content>
</ion-view>
