$positive: #0063AF;
$royal: #1E3685;
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "www/lib/ionic/scss/ionic";

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}

.has-header {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.wrapping-list .item-content, .wrapping-list .item {
  overflow: initial;
  white-space: initial;
}

